@model option4mvc.Models.Popcorn

<h2>Create Popcorn Item</h2>

<form asp-controller="Popcorn" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name">Popcorn Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />

    <input type="submit" value="Add Item" />
</form>