@{
    ViewData["Title"] = "Products";
}

<h2>Products Available</h2>

<div>
    <h3>Seasoning</h3>
    <a asp-area="" asp-controller="Seasoning" asp-action="Index">View Seasoning Inventory</a>
</div>

<div>
    <h3>Popcorn</h3>
    <a asp-area="" asp-controller="Popcorn" asp-action="Index">View Popcorn Inventory</a>
</div>

<div>
    <h3>Size</h3>
    <a asp-area="" asp-controller="Size" asp-action="Index">View Size Inventory</a>
</div>

<div>
    <h3>Packaging</h3>
    <a asp-area="" asp-controller="Packaging" asp-action="Index">View Packaging Inventory</a>
</div>