@model option4mvc.Models.Seasoning

<h2>Create Seasoning Item</h2>
<br />

<form asp-controller="Seasoning" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name">Seasoning Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="Description">Seasoning Description</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="SeasoningPrice">Seasoning Price</label>
        <input asp-for="SeasoningPrice" class="form-control" />
        <span asp-validation-for="SeasoningPrice" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="Quantity">Seasoning InStock Quantity</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <br />

    <input type="submit" value="Add Item" />
</form>