@model List<Seasoning>

@{
    ViewData["Title"] = "Seasoning List";
}



<div class="text-center">
    <h1 class="display-4">Seasoning List</h1>

    @if (Model.Count == 0)
    {
        <p>No items in inventory yet!</p>
    }
    else
    {
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.SeasoningPrice</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
    }
</div>

<p><a asp-controller="Seasoning" asp-action="Create">Create Seasoning Item</a></p>

<p><a asp-controller="Seasoning" asp-action="Delete">Delete Seasoning Item</a></p>

<p><a asp-controller="Seasoning" asp-action="Edit">Edit Seasoning Item</a></p>

