@model option4mvc.Models.Packaging

<h2>Create Packaging Item</h2>
<br />

<form asp-controller="Packaging" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name">Packaging Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="Description">Packaging Description</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="PackagingPrice">Packaging Price</label>
        <input asp-for="PackagingPrice" class="form-control" />
        <span asp-validation-for="PackagingPrice" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="Quantity">Packaging InStock Quantity</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <br />

    <input type="submit" value="Add Item" />
</form>